<%= testid('footer/show') %>
  <footer class="footer-theme js-fadein jsFooter">
    <div class="sec sec-full">
      <% if FeatureSwitch.enabled?(:new_project_category_meta) %>
      <nav class="footer-nav service">
        <a href="<%= projects_path %>" target="_blank" rel="noopener noreferrer">案件一覧</a>
        <div class="footer-nav-link s-txt-underline">
          <a href="<%= slug_projects_path('pm') %>">PMの案件・求人</a>
          <a href="<%= slug_projects_path('pmo') %>">PMOの案件・求人</a>
          <a href="<%= slug_projects_path('it-pm') %>">IT PMの案件・求人</a>
          <a href="<%= slug_projects_path('it-pmo') %>">IT PMOの案件・求人</a>
          <a href="<%= slug_projects_path('it-assistant') %>">ITプロジェクトサポートの案件・求人</a>
          <a href="<%= slug_projects_path('marketing') %>">マーケティングの案件・求人</a>
          <a href="<%= slug_projects_path('data-analysis') %>">データサイエンティストの案件・求人</a>
          <a href="<%= slug_projects_path('business-improvement') %>">業務改善の案件・求人</a>
          <a href="<%= slug_projects_path('bpr') %>">BPRの案件・求人</a>
          <a href="<%= slug_projects_path('rpa') %>">RPAの案件・求人</a>
          <a href="<%= slug_projects_path('bpo') %>">BPO/アウトソーシングの案件・求人</a>
          <a href="<%= slug_projects_path('system-design-system') %>">システム開発の案件・求人</a>
          <a href="<%= slug_projects_path('information-security-sub') %>">情報セキュリティの案件・求人</a>
          <a href="<%= slug_projects_path('erp') %>">ERPの案件・求人</a>
          <a href="<%= slug_projects_path('sap') %>">SAPの案件・求人</a>
          <a href="<%= slug_projects_path('asp') %>">ASPの案件・求人</a>
          <a href="<%= slug_projects_path('salesforce') %>">Salesforceの案件・求人</a>
          <a href="<%= slug_projects_path('appli') %>">アプリ開発案件・求人</a>
          <a href="<%= slug_projects_path('dx-promotion') %>">DX推進案件・求人</a>
          <a href="<%= slug_projects_path('cloud-migration') %>">クラウド案件・求人</a>
          <a href="<%= slug_projects_path('new-business') %>">新規事業の案件・求人</a>
          <a href="<%= slug_projects_path('management-strategy') %>">経営戦略の案件・求人</a>
          <a href="<%= slug_projects_path('lecturer-advisory') %>">講師の案件・求人</a>
        </div>
      </nav>
      <% end %>
      <hr>
    </div>
    <div class="footer-copyright">
      <div class="sec sec-full">
        <div class="copyright-logo">
          <div class="site-logo">
           
          </div>
          <div class="company-logo">
           
          </div>
        </div>
        <div class="copyright-txt">
          &copy; Công ty TNHH Leon II. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- ./footer -->
