          <li>
            <a href="<%= mypage_fc_entries_path %>">
              <span class="main-ttl">応募履歴</span>
              <span class="sub-ttl">HISTORY</span>
            </a>
          </li>
          <li class="is-sub jsSubNav">
            <a href="javascript:void(0)">
              <span class="main-ttl">お役立ち情報</span>
              <span class="sub-ttl">INFORMATION</span>
            </a>
            <div class="global-nav-sub jsSubNavOpen">
              <ul>
                <li><a href="<%= support_page_path %>">プロ人材サポート</a></li>
                <li><a href="<%= content_columns_path %>">プロ人材向けコラム</a></li>
                <li><a href="<%= content_workstyles_path %>">プロ人材インタビュー</a></li>
                <li><a href="<%= content_blogs_path %>">代表ブログ</a></li>
                <li><a href="<%= content_topics_path %>">ニュース</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="<%= contact_ja_url %>" target="_blank" rel="noopener noreferrer">
              <span class="main-ttl">よくある質問</span>
              <span class="sub-ttl">FAQ</span>
            </a>
          </li>
          <li class="no-line">
            <a href="<%= mypage_fc_settings_path %>">
              <span class="main-ttl">設定情報</span>
              <span class="sub-ttl">SETTINGS</span>
            </a>
          </li>
