<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/images/icon/favicon(fc).jpg">
  <meta name="format-detection" content="telephone=no">
  <%= csrf_meta_tags %>
  <script src="https://media-library.cloudinary.com/global/all.js"></script>
  <%= render 'cloudinary_credentials' %>
  <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>
<body class="<%= yield(:body_class) %>">
  <%= flash[:notice].presence %>
  <%= flash[:alert].presence %>
  <div class="mt20 ml20 mr20">
    <h1 class="mb40">コンテンツ管理画面</h1>
    <main class="flex pt-0">
      <%= render 'sidebar' %>
      <div>
        <%= yield %>
      </div>
    </main>
  </div>
</body>
</html>
