    <%= render 'hero' %>
    <%= cell(:search_box).call(:show) %>
    <%= cell(Projects::FeaturedCell, projects_featured).call(:home) %>
    <%= cell(Projects::ExperienceCategoriesCell, categories).call(:show) %>
    <%= cell(Projects::WorkLocationsCell, work_locations).call(:show) %>
    <section class="sec-theme-03 sec-mt-large">
      <div class="sec sec-full sec-p-large">
        <h2 class="sec-ttl js-fadein">
          <span class="main-ttl">Tin tức</span>
        </h2>
        <%= cell('topic', topics).call(:show_without_pagination) %>
        <div class="s-txt-center">
          <a href="<%= content_topics_path %>" class="btn btn-theme-02 bs-normal">
            Xem tin tức khác
          </a>
        </div>
      </div>
    </section>
