          <a href="<%= project_path(model) %>" class="job-list-item">
            <div class="job-list-ttl"><%= project_name %></div>
            <ul class="job-list-info">
              <li><%= compensations_for_abstract %> / 月</li>
              <li><%= client_category_name %></li>
              <li><%= work_location %>, <%= work_options %></li>
              <li><%= experience_categories %></li>
            </ul>
            <div class="s-pt-20 s-txt-center">
              <div class="btn btn-theme-02 bs-small">
                もっと見る
              </div>
            </div>
          </a>
