                <li>
                  <a href="<%= project_path(model) %>">
                    <div class="thumbnail">
                      <img src="<%= category_image %>" alt="<%= project_name %>">
                    </div>
                    <div class="details">
                      <p><%= project_name %></p>
                      <span><%= experience_categories %></span>
                    </div>
                  </a>
                </li>
