            <li>
              <a href="<%= detail_path %>">
                <div class="widget-wrapper">
                  <img src="<%= thumbnail %>">
                  <div class="widget-text-wrapper">
                    <p class="title"><%= post_title %></p>
                    <label class="c-red fs-10 mt10 d-block"><%= column_tags_name %></label>
                    <p class="date"><%= column_date %></p>
                  </div>
                </div>
              </a>
            </li>
