        <li data-testid='content/business_column/show'>
          <a href="<%= detail_path %>">
            <div class="image">
              <img src="<%= thumbnail %>" alt="">
            </div>
            <div class="details">
              <p><%= post_title %></p>
              <span class="sp-ls-neg-0-5"><%= column_tags_name %></span>
              <time><%= column_date %></time>
            </div>
          </a>
        </li>
