            <li class="tile-list-item">
              <a href="<%= detail_path %>">
                <div class="tile-list-img">
                  <div class="tile-list-img-inner">
                    <img src="<%= consultant_image %>" class="img" alt="" width="300" height="300" loading="lazy">
                  </div>
                </div>
                <div class="list-link article">
                  <%= post_title %>
                  <div>
                    <span class="tile-list-tag"><%= consultant_name %></span>
                    <span class="tile-list-date"><%= workstyle_date %></span>
                  </div>
                </div>
              </a>
            </li>
