<%= testid('pages/service') %>
<% content_for(:body_class, 'page-service') %>
    <div class="service-mainvisual">
      <h1 class="page-ttl">
        <span class="sub-ttl">About Free Consultant.jp</span>
        <span class="main-ttl">フリーコンサルタント.jpとは</span>
      </h1>
      <div class="page-caption s-fc-white">
        業務委託・フリーランスの<br class="s-sp">プロフェッショナル人材向け案件を<br>豊富に取り扱っている<br>日本最大級の案件紹介サービスです。
      </div>
    </div>
    <div class="sec-movie">
      <iframe width="650" height="365" src="https://www.youtube.com/embed/rfDay1rzJ-4?modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <section>
      <div class="sec sec-full sec-pb-large">
        <h2 class="page-ttl">
          <span class="sub-ttl">Why Free Consultant.jp?</span>
          <span class="main-ttl">フリーコンサルタント.jp が選ばれる理由</span>
        </h2>
        <ul class="card-list column3 about s-pt-30">
          <li class="card-list-item">
              <div class="card-list-img">
                <img src="/assets/images/service/img-service-01.png" class="img" alt="" width="640" height="452" loading="lazy">
              </div>
              <h3 class="card-list-ttl s-mt-10">
                上場企業が<br>運営しているサービス
              </h3>
              『みらいワークス』は東証グロースに上場しています。企業からの信頼も厚く、案件を豊富に取り扱っています。またさまざまな面で安心してサービスをご利用いただけます。
          </li>
          <li class="card-list-item">
              <div class="card-list-img">
                <img src="/assets/images/service/img-service-02.png" class="img" alt="" width="640" height="452" loading="lazy">
              </div>
              <h3 class="card-list-ttl s-mt-10">
                850社以上の取引実績！<br>国内最大級の取り扱い案件数
              </h3>
              取引実績は大手企業からベンチャー・スタートアップ企業まで850社以上。人気の “短期・スポット案件” や、“月額単価100万円以上（※稼働率で変動）” の案件など、さまざまな希望条件にお応えできる案件を保有しています。
          </li>
          <li class="card-list-item">
              <div class="card-list-img">
                <img src="/assets/images/service/img-service-03.png" class="img" alt="" width="640" height="452" loading="lazy">
              </div>
              <h3 class="card-list-ttl s-mt-10">
                専門コーディネーターによる<br>高いマッチングスキル
              </h3>
              サービス登録者は18,000名以上。多くのプロフェッショナルな方をご支援した実績から、高いマッチングスキルを持っています。お持ちのスキル・ご経験にマッチした案件をスピーディーにご紹介します。あなたの案件営業・開拓のお手間を削減することができます。
          </li>
          <li class="card-list-item">
              <div class="card-list-img">
                <img src="/assets/images/service/img-service-04.png" class="img" alt="" width="640" height="452" loading="lazy">
              </div>
              <h3 class="card-list-ttl s-mt-10">
                充実した<br>稼働中サポート
              </h3>
              プロフェッショナル人材の方がプロジェクトで最大限活躍できるように、稼働中はみらいワークスの営業担当が参画先企業との間に入り、働きやすい環境・関係性の構築をサポートしています。
          </li>
          <li class="card-list-item">
              <div class="card-list-img">
                <img src="/assets/images/service/img-service-05.png" class="img" alt="" width="640" height="452" loading="lazy">
              </div>
              <h3 class="card-list-ttl s-mt-10">
                次回に役立つ<br>稼働後の評価フィードバック
              </h3>
              プロフェッショナル人材の方が継続的にさまざまな案件で活躍いただくため、稼働後フォローに力を入れています。稼働時に感じた悩みや課題をお聞きしたり、参画先企業からのフィードバックをさせていただくことを通して、次回さらに活躍いただけるような案件のご紹介に活かしています。
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="sec sec-full sec-pb-large">
        <h2 class="sec-ttl">
          <span class="main-ttl">スタッフ紹介</span>
          <span class="sub-ttl">OUR MEMBER</span>
        </h2>
        <ul class="card-list column2 profile">
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-01.jpg" class="img" alt="佐竹" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 パートナーセールス部 部長</span>
                <span class="profile-name">佐竹</span>
                <span class="profile-alphabet">Satake</span>
              </h3>
              深く密なコミュニケーションを重視し、プロ人材にご活躍いただけるようサポートいたします。
              <a href="<%= staff_page_path(anchor: 'person1') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-02.jpg" class="img" alt="宇佐美" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 営業企画部</span>
                <span class="profile-name">宇佐美</span>
                <span class="profile-alphabet">Usami</span>
              </h3>
              新しい一歩を踏み出したい方、スキルを更に伸ばしたい方、ぜひ弊社にご相談ください。
              <a href="<%= staff_page_path(anchor: 'person2') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
          <li class="card-list-item flex-pc s-mt-30">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-03.jpg" class="img" alt="大嶋" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 ダイレクトセールス部</span>
                <span class="profile-name">大嶋</span>
                <span class="profile-alphabet">Oshima</span>
              </h3>
              独立をご決断された覚悟に寄り添い、夢や希望の実現に向けたご支援をさせていただきます。
              <a href="<%= staff_page_path(anchor: 'person3') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
          <li class="card-list-item flex-pc s-mt-30">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-04.jpg" class="img" alt="都築" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 ダイレクトセールス部</span>
                <span class="profile-name">都築</span>
                <span class="profile-alphabet">Tsuzuki</span>
              </h3>
              独立プロ人材が企業を動かすキッカケを作る。そんな案件との出会いをサポートします。
              <a href="<%= staff_page_path(anchor: 'person4') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
          <li class="card-list-item flex-pc s-mt-30">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-05.jpg" class="img" alt="和田" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 ダイレクトセールス部</span>
                <span class="profile-name">和田</span>
                <span class="profile-alphabet">Wada</span>
              </h3>
              クライアント支援に集中できる体制を準備して、プロ人材の皆さまをお待ちしています。
              <a href="<%= staff_page_path(anchor: 'person5') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
          <li class="card-list-item flex-pc s-mt-30">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/person-06.jpg" class="img" alt="木村" width="230" height="308" loading="lazy">
              </div>
            </div>
            <div class="card-list-info">
              <h3 class="card-list-ttl">
                <span class="profile-position">プロ・エージェント営業本部 未来共創部 第2営業チーム</span>
                <span class="profile-name">木村</span>
                <span class="profile-alphabet">Kimura</span>
              </h3>
              これからの日本のみらいのために。フリーランス人材の挑戦をサポートしてまいります。
              <a href="<%= staff_page_path(anchor: 'person6') %>" class="list-link">
                もっと見る
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="sec sec-full sec-pb-large">
        <h2 class="sec-ttl">
          <span class="main-ttl">サービスの流れ</span>
          <span class="sub-ttl">SERVICE FLOW</span>
        </h2>
        <div class="sec-txt">
          フリーコンサルタント.jpではプロジェクト開始まで2通りの流れがあります。
        </div>
        <ul class="card-list column2">
          <li class="card-list-item">
            <div class="dashboard-panel">
              <div class="card-list-img">
                <div class="card-list-img-inner">
                  <img src="/assets/images/service/icon_service_flow01.svg" class="flow-img" alt="" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="s-fw-b s-txt-center">
                フリーコンサルタント.jpの<br>営業担当から案件紹介を受けた場合
              </div>
            </div>
          </li>
          <li class="card-list-item">
            <div class="dashboard-panel">
              <div class="card-list-img">
                <div class="card-list-img-inner">
                  <img src="/assets/images/service/icon_service_flow02.svg" class="flow-img" alt="" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="s-fw-b s-txt-center">
                ご自身で掲載中の案件に<br>直接応募いただいた場合
              </div>
            </div>
          </li>
        </ul>
        <div class="s-txt-center s-mt-40">
          <a href="<%= service_flow_page_path %>" class="btn btn-theme-02-outline bs-long">
            サービスの流れをもっと見る
          </a>
        </div>
        <div class="s-txt-center s-mt-30">
          <a href="<%= new_fc_user_registration_path %>" class="btn btn-theme-02 bs-long">
            今すぐフリーコンサルタント.jpに<br class="s-sp">会員登録する
          </a>
        </div>
      </div>
    </section>
    <section class="sec-theme-03">
      <div class="sec sec-full sec-p-large">
        <h2 class="sec-ttl">
          <span class="main-ttl">関連サービス</span>
          <span class="sub-ttl">RELATED SERVICES</span>
        </h2>
        <ul class="tile-list column3 related">
          <li class="tile-list-item">
            <a href="<%= intern_url %>" target="_blank" rel="noopener noreferrer">
              <div class="tile-list-img">
                <div class="tile-list-img-inner">
                  <img src="/assets/images/service/img_related_services01.svg" class="img" alt="大人のインターン" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="related-content">
                <h3 class="tile-list-ttl s-mt-10">
                  フリーランスのプロフェッショナル人材向けお試し稼働就職支援サービス
                </h3>
                プロフェッショナル人材が業務委託契約でまずは働き、その後両者（個人の方と企業）が望んだ場合、転職プロセスに切り替えるサービスです。
              </div>
              <div class="btn btn-theme-02 bs-full">
                もっと見る
              </div>
            </a>
          </li>
          <li class="tile-list-item">
            <a href="<%= career_url %>" target="_blank" rel="noopener noreferrer">
              <div class="tile-list-img">
                <div class="tile-list-img-inner">
                  <img src="/assets/images/service/img_related_services02.svg" class="img" alt="ProfessionalCareer" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="related-content">
                <h3 class="tile-list-ttl s-mt-10">
                  プロフェッショナル人材に特化した転職支援サービス
                </h3>
                プロフェッショナルな経験・スキルをお持ちの方に特化した転職支援サービスです。プロフェッショナル人材を求めている企業の案件を豊富に取り扱っています。
              </div>
              <div class="btn btn-theme-02 bs-full">
                もっと見る
              </div>
            </a>
          </li>
          <li class="tile-list-item">
            <a href="<%= skill_shift_url %>" target="_blank" rel="noopener noreferrer">
              <div class="tile-list-img">
                <div class="tile-list-img-inner">
                  <img src="/assets/images/service/img_related_services03.svg" class="img" alt="Skill Shift" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="related-content">
                <h3 class="tile-list-ttl s-mt-10">
                  副業正社員という新しい副業のカタチ。地域貢献副業プロジェクト
                </h3>
                都市部の正社員と地域企業を結ぶ副業プラットフォームです。あなたの業務スキルが地方で活かせます。<br>
                ※株式会社スキルシフト(みらいワークスグループ会社)が運営
              </div>
              <div class="btn btn-theme-02 bs-full">
                もっと見る
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
