      <a href="<%= next_content_url %>" class="intview-pagi-item <%= next_content_class %>">
        <img class="intview-pagi-image" src="<%= next_content_thumbnail  %>" alt="次の記事を読む">
        <div class="intview-pagi-content">
          <p class="mb20"><%= next_content_post_title  %></p>
          <span class="fs-12"><%= next_content_post_date %></span>
        </div>
        <p class="intview-pagi-sp-text">次の記事を読む</p>
      </a>
